---
page_title: "MAAS Provider"
description: |-
    The Terraform Provider for MAAS.
  
---

# MAAS Provider
The MAAS provider is a Terraform provider that allows you to manage MAAS resources. This provider can be used to manage many aspects of a MAAS environment, including networking, users, machines, VM hosts, and more. 

Use the navigation to read about the resources and data sources supported by this provider.

{{- .SchemaMarkdown }}

## Example Usage

{{ tffile "examples/provider/provider.tf" | trimspace -}}